@page
@model RegistrationSystem.Pages.AdministratorViewModel
@{
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 150px;
        padding-top: 50px;
        background-color: #f8f9fa;
        border-right: 1px solid #dee2e6;
    }

    .content {
        margin-left: 250px; /* Adjust this value to match the width of the sidebar */
        padding: 20px;
    }

    .hidden {
        display: none; /* Hide content by default */
    }

    .collapsible {
        background-color: #266af2;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #0d3890;
        }

    .content2 {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .form-container {
            display: flex; /* Use flexbox for layout */
            justify-content: space-between; /* Distribute space between form elements */
        }

    .inline-block-container {
        font-size: 0; /* Remove space between inline-block elements */
    }

    .inline-block {
        display: inline-block;
        width: 40%;
        margin: 2.5%;
        box-sizing: border-box;
        font-size: 16px; /* Reset font-size */
    }

</style>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-3 sidebar">
            <ul class="list-group">
                <li class="list-group-item sidebar-item" data-target="content1">Current Students</li>
                <li class="list-group-item sidebar-item" data-target="content2">Current Modules</li>
                <li class="list-group-item sidebar-item" data-target="content3">Add Students & Modules</li>
            </ul>
        </div>

<div id="content1" class="hidden">
 
<p>CURRENT STUDENTS</p>
<div class="text-center" style="height: 140px; overflow-y: scroll;">
    @foreach (var student in Model.studentList)
    {
        <button type="button" class="collapsible">@student.UserName</button>
        <div class="content2">
            <p>@student.UserName</p>
            <p>@student.StudentName</p>
            <p>@student.Course</p>
            <form method="post">
                <input asp-for="deregister" type="hidden" value="@student.StudentId"/>
                <button type="submit">Deregister</button>
            </form>
        </div>

    }
</div>

</div>

<div id="content2" class="hidden">

<p>CURRENT MODULES</p>
<div class="text-center" style="height: 140px; overflow-y: scroll;">
    @foreach (var module in Model.moduleList)
    {
        <button type="button" class="collapsible">@module.ModuleName</button>
        <div class="content2">
            <p>@module.ModuleName</p>
            <form method="post">
                <input asp-for= "remove" type="hidden" value="@module.Id"/>
                <button type="submit">Remove</button>
            </form>
        </div>

    }
</div>

</div>

<div class="inline-block-container">

<div id="content3" class="hidden">
<div class="inline-block" style="height: 150px;">
<h7>ADD NEW STUDENT</h7>

<form method="post">
<label>Name</label>
<input asp-for="studentName" type="text"/><br />
<label>Surname</label>
<input asp-for="studentSurname" type="text"/><br />
<label>email</label>
<input asp-for="studentEmail" type="text"/><br />
<label>Course</label>
<input asp-for="studentCourse" type="text" /><br />
<button>CREATE STUDENT</button>

</form>

</div>

<div class="inline-block" style="height: 150px;">
<h7>ADD NEW MODULE</h7>

<form method="post">
	<label>Module Code</label>
	<input asp-for="moduleCode" type="text" /><br />
	<label>Module Name</label>
	<input asp-for="moduleName" type="text" /><br />
	<label>Description</label>
	<input asp-for="moduleDescription" type="text" /><br />
	<label>Course</label>
	<input asp-for="moduleCourse" type="text" /><br/>
	<button>CREATE Module</button>

</form>

</div>
</div>

</div>
    </div>

</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('.sidebar-item').click(function () {
            var target = $(this).data('target');
            $('.content > div').addClass('hidden'); // Hide all content divs
            $('#' + target).removeClass('hidden'); // Show the selected content div
        });
    });

</script>
