@page
@model RegistrationSystem.Pages.AdministratorViewModel
@{
}


<style>
    .collapsible {
        background-color: #266af2;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #0d3890;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .form-container {
            display: flex; /* Use flexbox for layout */
            justify-content: space-between; /* Distribute space between form elements */
        }

</style>
 <h4>ADMIN PAGE</h4>
<p>CURRENT STUDENTS</p>
<div class="text-center" style="height: 200px; overflow-y: scroll;">
    @foreach (var student in Model.studentList)
    {
        <button type="button" class="collapsible">@student.UserName</button>
        <div class="content">
            <p>@student.UserName</p>
            <p>@student.StudentName</p>
            <p>@student.Course</p>
            <form method="post">
                <input asp-for="deregister" type="hidden" value="@student.StudentId"/>
                <button type="submit">Deregister</button>
            </form>
        </div>

    }
</div>

<p>CURRENT MODULES</p>
<div class="text-center" style="height: 200px; overflow-y: scroll;">
    @foreach (var module in Model.moduleList)
    {
        <button type="button" class="collapsible">@module.ModuleName</button>
        <div class="content">
            <p>@module.ModuleName</p>
            <form method="post">
                <input asp-for= "remove" type="hidden" value="@module.Id"/>
                <button type="submit">Remove</button>
            </form>
        </div>

    }
</div>


<h7>ADD NEW STUDENT</h7>

<form method="post">
<label>Name</label>
<input asp-for="studentName" type="text"/><br />
<label>Surname</label>
<input asp-for="studentSurname" type="text"/><br />
<label>email</label>
<input asp-for="studentEmail" type="text"/><br />
<label>Course</label>
<input asp-for="studentCourse" type="text" /><br />
<button>CREATE STUDENT</button>

</form>

<br />

<h7>ADD NEW MODULE</h7>

<form method="post">
	<label>Module Code</label>
	<input asp-for="moduleCode" type="text" /><br />
	<label>Module Name</label>
	<input asp-for="moduleName" type="text" /><br />
	<label>Description</label>
	<input asp-for="moduleDescription" type="text" /><br />
	<label>Course</label>
	<input asp-for="moduleCourse" type="text" />
	<button>CREATE Module</button>

</form>



<script>


    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
