@page
@model RegistrationSystem.Pages.RegisterViewModel
@{
	ViewData["Title"] = "REGISTRATION VIEW";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<style>
    .collapsible {
        background-color: #266af2;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #0d3890;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

</style>


<div>
    <form method="post">
        <label for="gsearch">Search Module:</label>
        <input asp-for="searchquery" type="text" id="gsearch">
        <button type="submit">Search</button>
    </form>
</div>
<div class="text-center" style="height: 200px; overflow-y: scroll;">
    @foreach(var module in Model.ModuleList){
    <button type="button" class="collapsible">@module.ModuleCode</button>
    <div class="content">
    <p>@module.ModuleCode @module.ModuleName @module.ModuleDetails</p>
    <option value="@module.ModuleCode">@module.ModuleCode</option>
    <form method="post">
        <input asp-for="selected" value="@module.ModuleCode" type="hidden" />
        <button type="submit" >Register</button>
    </form>
    </div>
        
    }
</div>


<div>
    @foreach (var regcourse in Model.courseRegistered)
    {
     <div>
     <p>@regcourse</p>
      <form method="post">
         <input asp-for="deregister" value="@regcourse" type="hidden" />
        <button type="submit" >Deregister</button>
      </form>
      </div><br />
    }

</div>





    
 
<script>


    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

